p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
}
footer{
    border:1px solid black;
    border-radius: 10px;
    background-color: pink;
}
nav{
    background-color: forestgreen;
    border: 1px solid green;
    border-radius: 10px;
}
.altp{
    color:white;
    text-decoration: none;
}